USE [master]
GO
/****** Object:  Database [ImageDB]    Script Date: 08/25/2015 23:09:29 ******/
CREATE DATABASE [ImageDB] ON  PRIMARY 
( NAME = N'ImageDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ImageDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ImageDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ImageDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImageDB]
GO
/****** Object:  Table [dbo].[tbl_Image]    Script Date: 08/25/2015 23:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](50) NULL,
	[Image] [varchar](200) NULL,
	[Discription] [text] NULL,
 CONSTRAINT [PK_tbl_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Image] ON
INSERT [dbo].[tbl_Image] ([Id], [ImageName], [Image], [Discription]) VALUES (1, N'Honda', N'ImageStore/Honda.jpg', N'Honda Motor')
INSERT [dbo].[tbl_Image] ([Id], [ImageName], [Image], [Discription]) VALUES (2, N'Yamaha-Fz', N'ImageStore/Yamaha-Fz.jpg', N'Yamaha-Fz Bike')
SET IDENTITY_INSERT [dbo].[tbl_Image] OFF
